build
App/*.o
App/TrustedLibrary/*.o
Enclave/TrustedLibrary/*.o
Enclave/*.o
App/*_u.c
App/*_u.h
Enclave/*_t.c
Enclave/*_t.h
*.out
img*.bin
.vscode/settings.json
img_code512.bin
output.txt
tmp_test.bin
